@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

body{

    background:linear-gradient(90deg,#758283 0%, #03203C 80%)
}

h1{
    
    text-align: center;
    color: #ffffff;
    font-family: "montserrat","serif";
    margin-top: 15%; 
    font-size: 50px;
    
    
}
p{
    text-align: center;
    font-family: "montserrat","serif";
    color: #ffffff;
    
}
span{
    color: #35BDD0;
    font-size: 80px;
    font-weight: 900;
    margin-top: -20;
    
}
button{

    margin:auto;
    display:block;
    
}
.btn{
   background-color:transparent;
   border: 2px solid #1f1f1f ;
   color:aliceblue;
   border-radius: 0.6em;
   font-size: 1rem;
   font-weight: 500;
   text-align: center;
   cursor:grab;
   font-family: "montserrat" ;
   text-transform:uppercase;
   padding: 0.6em;
}

.btn:hover{
    color:#03203C;
    outline: 0;
}

.lco{
    transition: box-shadow 300ms ease-in-out,color 300ms ease-in-out;
}

.lco:hover{
    box-shadow: 0 0 40px 40px #35BDD0 inset;
}

.footer{
    background-color:darkslateblue;
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    padding: 4px;
    color:whitesmoke;
    cursor:no-drop;

}
h4{
    transition: box-shadow 300ms ease-in-out color 300ms ease-in-out;
}
h4:hover{
    box-shadow: 0 0 10px 10px;
}

.homekey{
    color: #ffffff;
}

